<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ansible_host</title>
</head>
<body>
    <h1> Site deploye par ansible {{ ansible_version.full }} - formation</h1>
    <h2> Ansible manager: {{ ansible_host }} </h2>
    <h2> Serveur de l'inventaire: {{ inventory_hostname }}</h2>
    <h2> Application: {{ mon_appli }} </h2>
    <h2> Gateway: {{ ansible_facts.default_ipv4.gateway }} </h2>

         Afficher le nom du playbook
        {% for i in ansible_facts.interfaces %}
        Interface: {{ i }} => @IP {{ ansible_facts[i].ipv4.address }}<br/>
        {% endfor %}

        {% if ansible_facts.os_family == 'Debian' %}
        OK la distribution est Debian.
        {% endif %} 

         Condition :
          Afficher la taille de la mémoire que si elle est supérieur à  

          Concatenation : 
          +

          Mise en forme : MAJ
</body>
</html>